In [5]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

In [9]:
# Create an engine for the sqlite database
engine = create_engine("sqlite:///db.sqlite", echo=False)

# Connect with database
connection = engine.connect()

# create dataframe from sql database
house_prices_df = pd.read_sql("select * from house_prices", con=connection)
house_prices_df.head()

,index,id,price,date,address,suburb,bedrooms,bathrooms,land_area,latitude,longitude
0,0,1,565000,1535760000,1 Acorn Place,South Lake,4,2,600,-32.115900,115.842450
1,1,2,365000,1548979200,1 Addis Way,Wandi,3,2,351,-32.193470,115.859553
2,2,3,287000,1433116800,1 Ainsley Court,Camillo,3,1,719,-32.120578,115.993579
3,3,4,255000,1530403200,1 Albert Street,Bellevue,2,1,651,-31.900547,116.038009
4,4,5,325000,1477958400,1 Aman Place,Lockridge,4,1,466,-31.885790,115.947780

In [23]:
X = house_prices_df[["date","bedrooms","bathrooms","land_area"]]
y = house_prices_df["price"].values.reshape(-1, 1)
print(X.shape, y.shape)

(33656, 4) (33656, 1)

In [24]:
# Use train_test_split to create training and testing data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [25]:
# Create the model using LinearRegression
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [26]:
# Fit the model to the training data and calculate the scores for the training and testing data

model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.15393541434533076
Testing Score: 0.13926326941143352

In [ ]:
# Save the model
model.save("smartphone_trained.h5")